.main-toolbar-button {
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

.iconButton {
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

.smallIcon {
  -fx-background-size: 25px 25px;
}

.addButton {
  -fx-background-image: url('../icons/AddIcon.png');
}

.addArticleButton {
  -fx-background-image: url('../icons/dark/AddArticleIcon.png');
}

.addGroupButton {
  -fx-background-image: url('../icons/dark/AddGroupIcon.png');
}

.addContactButton {
  -fx-background-image: url('../icons/dark/AddContactIcon.png');
}

.removeButton {
  -fx-background-image: url('../icons/RemoveIcon.png');
}

.moveUpButton {
  -fx-background-image: url('../icons/dark/MoveUpIcon.png');
}

.moveDownButton {
  -fx-background-image: url('../icons/dark/MoveDownIcon.png');
}

.moveLeftButton {
  -fx-background-image: url('../icons/dark/MoveLeftIcon.png');
}

.moveRightButton {
  -fx-background-image: url('../icons/dark/MoveRightIcon.png');
}

.editButton {
  -fx-background-image: url('../icons/EditIcon.png');
}

.moveButton {
  -fx-background-image: url('../icons/dark/MoveIcon.png');
}

.tickButton {
  -fx-background-image: url('../icons/TickIcon16x16.png');
}

.crossButton {
  -fx-background-image: url('../icons/CrossIcon16x16.png')
}

.importButton {
  -fx-background-image: url('../icons/dark/ImportIcon.png');
}

.projectusButton {
  -fx-background-image: url('../icons/dark/ProjectusIcon.png');
}

.hashButton {
  -fx-background-image: url('../icons/dark/HashIcon.png');
}

#openFileButton {
  -fx-background-image:url('../icons/dark/OpenIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#saveFileButton {
  -fx-background-image: url('../icons/dark/SaveIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#newFileButton {
  -fx-background-image: url('../icons/dark/NewFileIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#reportsMenuButton {
  -fx-background-image: url('../icons/dark/ReportsIcon.png');
  -fx-background-position: left center;
  -fx-background-repeat: no-repeat;
}

.pastSprint {
  -fx-text-fill: #daeded;
}

.futureSprint {
  -fx-text-fill: #97bfbf;
}

.release {
  -fx-text-fill: #f79a3e;
}

.current {
  -fx-background-color: #063940;
}

.notes {
  -fx-background-color: #3f2e00;
}

.year-indicator {
  -fx-border-color: rgb(45,51,58);
  -fx-border-radius: 3;
}
