.splash {
  -fx-font-family: Helvetica Neue, Helvetica, sans-serif;
  -fx-background-color: #FFF;
}

.splash #titleLabel {
  -fx-font-size: 36px;
  -fx-text-fill: #000;
}

.splash #statusLabel {
  -fx-font-size: 15px;
  -fx-text-fill: #A81897;
}

.splash .prog {
  -fx-pref-height: 25;
  -fx-progress-color: #333;
}

.splash .progress-bar {
  -fx-pref-width: 200px;
  -fx-accent: #A81897;
}

.splash .footer {
-fx-background-color: #333;
}

.splash .footer #footerLabel {
-fx-font-size: 13px;
-fx-text-fill: #cccccc;
}
